*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}
header{
    background-color: #FFF8F3;
    background:url("../images/developer.png"),url("../images/header_bg.png"),#FFF8F3;
    padding-top: 50px;
    background-size: contain, auto 400px;
    background-repeat: no-repeat;
    background-position: top left ,bottom right;


}
nav{
    width: 71%;
    max-width: 1140px;
    
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
   .logo{
        font-size: 45px;
        font-weight: 900;
}
.orange{
    color:#FD6E0A;
}
.nav-link{
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
}
.nav-link a{
text-decoration: none;
color: #474747;
font-size: 20px;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 36px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;

}
#hero-section{
    /* border: 1px solid red; */
    margin: 46px 37px 0px 231px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-contain {
    max-width: 585px;
}

.hero-contain h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
        

}


.hero-contain h1{
    font-size: 55px;
        font-weight:bold;
        color: #181818;
        margin-bottom: 20px;
}
.hero-contain p{
    font-size: 18px;
        line-height: 30px;
        color: #757575;
        margin-bottom: 30px;
}
.hero-image img{
    max-width: 585px;
    vertical-align: middle;
}